.header-modal {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: slideDown 0.3s ease-out forwards;
}

.header-modal__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-modal__logo {
    display: flex;
    justify-content: center;

}

.header-modal__logo-img {
    width: 44px;
    height: 44px;
}

.header-modal__personal-info {
    text-align: center;
    color: #5F6368;
}

.header-modal__username {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-modal__email {
    font-size: 14px;
    font-weight: 400;
    color: #9E9E9E;
}

.header-modal__settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    fill: #5F6368;
    transition: background-color 0.3s ease;
    animation: rotateAnimation 0.3s ease-out forwards;
}

.header-modal__settings:hover {
    animation: rotateAnimation 0.3s ease-out forwards;
}


.header-modal__settings-link:hover .header-modal__settings-img {
    animation: rotateAnimation 1s ease-in-out;
}


.header-modal__settings-img {
    height: 24px;
    width: 24px;
    fill: #ebebeb
}

.header-modal__settings-link {
    display: flex;
    align-items: center;
}

.header-modal__nav {
    margin-top: 10px;
}

.header-modal__nav-item {
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s ease;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.header-modal__nav-item img {
    height: 24px;
    width: 24px;
}

.header-modal__nav-item:hover {
    background-color: #ebebeb;
}

.settings-user {
    font-size: 16px;
    font-weight: 500;
    color: #5F6368;
}

.header-modal__logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 12px;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

.header-modal__logout img {
    width: 24px;
    height: 24px;
}

.header-modal__logout:hover {
    /* background-color: #FF3335; */
    background-color: #FF4D4F;
    color: #fff;
}

.header-modal__hr {
    display: block;
    border: none;
    border-top: 1px solid #ebebeb;
    width: 100%;
}


.header-modal__info-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    color: #5F6368;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all .3s ease;
}

.header-modal__info-btn:hover {
    color: #9E9E9E;
}





.header-modal__close-btn {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease;
}

.header-modal__close-icon {
    position: relative;
    width: 24px;
    height: 24px;
    transition: all .3s ease;
}

.header-modal__close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-modal__close-icon::before,
.header-modal__close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #5F6368;
    transition: all .3s ease;
}

.header-modal__close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-modal__close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header-modal__close-btn:hover .header-modal__close-icon::before,
.header-modal__close-btn:hover .header-modal__close-icon::after {
    background-color: #666;
}

.header-modal__close-btn:hover .header-modal__close-icon {
    transform: rotate(90deg);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 650px) {
    .header-modal {
        position: fixed;
        top: 0;
        right: 0;
        width: 480px;
        align-content: center;
        height: 100%;
        animation: slideIn 0.3s ease-out forwards;
    }

    .header-modal__close-btn {
        top: 74px;
        left: -46px;
        width: 49px;
        height: 49px;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media (max-width: 540px) {
    .header-modal {
        position: fixed;
        top: 0;
        right: 0;
        width: 420px;
        align-content: center;
        height: 100vh;
        animation: slideIn 0.3s ease-out forwards;
    }
}

@media (max-width: 480px) {
    .header-modal {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        align-content: center;
        /* height: 100vh; */
        height: 100%;
        animation: slideIn 0.3s ease-out forwards;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}