.dashbord {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 24px;
}

.dashobord_item-1 {
    display: flex;
    align-items: center;
    align-content: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-left: 14px;
}

.search-box {
    cursor: pointer;
}

.search-box__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #7553FF;
    cursor: pointer;
}

.search-box input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #656565;
    border: 1px solid transparent;
    /* border-radius: 8px; */
    box-sizing: border-box;
}

.search-box input:focus {
    outline: none;
    border: 1px solid transparent;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 24px;
    background-color: #F8F8F8;
    border-radius: 8px;
    color: #656565;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}



.menu-item.selected .menu-item-img {
    filter: brightness(0) invert(1);
}

.menu-item.selected {
    background-color: #7553FF;
    color: white;
    fill: white;
}

.menu-item.selected img {
    color: white;
}

.menu-item.selected :hover {
    /* background-color: #5a3dcb; */
    filter: brightness(0) invert(1);
}

.menu-item.selected .menu-item-img,
.menu-item:hover .menu-item-img {
    filter: brightness(0) invert(1);
}

.menu-item.selected img,
.menu-item:hover img {
    filter: brightness(0) invert(1);
}

.menu-item .icon {
    margin-right: 10px;
    /* fill: currentColor; */
}


.menu-item img {
    width: 22px;
    height: 22px;
}

.menu-item img:hover {
    color: white;
}

.menu-item:hover {
    background-color: #5a3dcb;
    color: white;
}

.menu-item-img {
    width: 24px;
    height: 24px;
    /* color: #656565; */
    /* color: white; */
    fill: white;
    margin-right: 8px;
}

.menu-item-img :hover {
    color: #fff;
}

.toggle-btn {
    border: transparent;
    background: transparent;
    height: 16px;
    width: 10px;
    cursor: pointer;
    align-items: center;
    align-content: center;
}

.toggle-btn-arrow {
    /* padding: 10px; */
    height: 18px;
    width: 14px;
}

.toggle-btn img {
    transition: transform 0.3s ease;

}


.navbar.expanded .toggle-btn img {
    transform: rotate(0deg);
}

.navbar.collapsed .toggle-btn img {
    transform: rotate(180deg);
    /* padding: 10px; */
}







body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.collapsed-sidebar {
    width: 60px;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sidebar-icon:hover {
    background-color: #7553FF;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #656565;
}

.navbar.collapsed {
    margin-bottom: 36px;
}