.header {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

/* .header__logo {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
} */

.header__logo {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
}

.header__img {
    margin-right: 5px;
    margin-left: 15px;
    cursor: pointer;
    box-shadow: transparent;
    border-radius: 50%;
    transition: all 0.1s ease;
}

.header__img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.1s ease;
}

.header__info-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn {
    background-color: #7553ff;
    border: 1px solid transparent;
    border-radius: 22px;
    padding: 9px 15px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header__role {
    margin-left: 26px;
}

@media (max-width: 1230px) {
    /* .header__logo {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        visibility: visible;
    } */
}

@media (max-width: 768px) {
    .header__btn {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .header__double-btn {
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .header__role-btn {
        display: none;
    }
}